[flake8]
ignore =
    B101,
    E501,
    E266
max-line-length = 160
max-complexity = 10
exclude =
    .git,
    .devcontainer,
    .vscode,
    assets,
    build,
    __pycache__,
    fpga,
    script,
    tools,
    *.pyc

[pycodestyle]
max_line_length = 160
ignore =
    B101,
    E501,
    E266
